---
import Layout from '../layouts/Layout.astro';
import Home from '../components/Home.astro';
import SubNavBar from '../components/SubNavBar.astro';
import NavBar from '../components/NavBar.astro';
import SobreMe from '../components/SobreMe.astro';
---

<Layout title="Portfolio">
	<main class="bg-astro-100">
		<Home/>
		<SubNavBar/>
		<NavBar/>
		<SobreMe/>
	</main>
</Layout>

<style>
	
</style>
