---
import Layout from '../layouts/Layout.astro';
import Hola from '../components/Hola.astro';
import SubNavBar from '../components/SubNavBar.astro';
import NavBar from '../components/NavBar.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Hola/>
		<SubNavBar/>
		<NavBar/>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	
</style>
