---
import Layout from '../layouts/Layout.astro';
import Home from '../components/Home.astro';
import SubNavBar from '../components/SubNavBar.astro';
import NavBar from '../components/NavBar.astro';
import SobreMe from '../components/SobreMe.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro'
---

<Layout title="Portfolio">
	<main class="">
		<Home/>
		<SubNavBar/>
		<NavBar/>
		<SobreMe/>
		<Contact/>
		<Footer/>
	</main>
</Layout>

<style>
	
</style>
