---
import contac from "../../public/home.svg";
---

<section class="grid grid-cols-2">
  <h2 class="col-span-2  flex justify-center">Ponte en contacto conmigo</h2>

  <div class="w-auto">
    <img src={contac} alt="" />
  </div>
  <div>
    <p>
      Si puedo ser de ayuda en tu proyecto no dudes en contactarme en mis redes
      o enviame un <a>Email</a>
    </p>

    <button></button>
    <svg></svg>

    <div>
      <span>Redes</span>
    </div>
  </div>
</section>
