---
const logo  ="{A}"
---

<nav class="fixed top-0 inset-x-0  sm:flex justify-between py-2 px-6 font-semibold shadow-md backdrop-blur-md items-center text-white hidden select-none ">
    <div class="w-8 h-8 rounded-full text-gray-950 flex justify-center items-center bg-orange-500">{logo}</div>

    <div class="flex gap-5 justify-evenly">
        <a class="hover:text-orange-500 hover:border-orange-500 border-b-2 border-solid border-transparent " href="#inicio">Inico</a>
        <a class="hover:text-orange-500 hover:border-orange-500 border-b-2 border-solid border-transparent " href="#About">Habilidades</a>
        <a class="hover:text-orange-500 hover:border-orange-500 border-b-2 border-solid border-transparent " href="">Portfolio</a>
        <a class="hover:text-orange-500 hover:border-orange-500 border-b-2 border-solid border-transparent " href="">Sobre mi</a>
        <a class="hover:text-orange-500 hover:border-orange-500 border-b-2 border-solid border-transparent " href="#Contact">Contactame</a>
    </div>
</nav>